---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {Button} from '../components/Button'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 style="text-align: center;"> LABORATORIO 8 </h1>
		<h1>Contador</h1>
		<Button client:load/>
	</main>
</Layout>
<style>
	h1{
		color: aliceblue;
	}
</style>